.form-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
mat-form-field {

    width: 500PX;
    margin: 10px 0;
    font-size: 1.3rem;
}
button{

    padding: 30px 40px;
    font-size: 1.4rem;
    margin-right: 20px;
}